<!DOCTYPE html>
<html ng-app="prattsule">
<head>
  <title>prattsule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <%= render 'layouts/overlay' unless user_signed_in? %>
  <%= react_component('UserOverlay', {}) %>

  <div data-behavior="progress-bar" class="progress-bar"></div>

  <% if admin_signed_in? %>
    <%= render 'layouts/admin_header' %>
  <% else %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= render 'layouts/alert_messages' %>

  <div class="container-fluid main-container">
    <%= yield %>
    <%= yield :sidebar %>
  </div>

</body>
<script type="text/javascript">
  window.userSignedIn = <%= user_signed_in? %>;
</script>
</html>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@misterkapt" />
<meta name="twitter:title" content="prattsule" />
<meta name="twitter:description" content="Share and connect with the world around you like never before!" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68673822-1', 'auto');
  ga('send', 'pageview');

</script>
